/bin
/moc
/obj
*.user
*.log
*.deb
qrc_cpp-file-explorer.cpp
build_clean.sh
autom4te.cache
*.stash
/build
src/build
src/*.cpp
/lib
*.a
odyssey-file-explorer
/lib/build
*.directory
Makefile
ui_bookmarkdialog.h
ui_fileproperties.h
.directory
*.kate-swp
=======
/wiki
/.kdev4
